body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

p {
    font-size: 2rem;
}

button {
    font-size: 2rem;
    padding: 10px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin: 10px;
}
